body{
	text-align: center;
}
header , footer{
	background-color: #ddd;
	padding: 10px 0;
	
}
main{
	background-color: yellow;

}
.row{
	display: flex;
	
	
}
.col-7{
	width: 70%;
	margin: 5px;
	background-color: #ddd;
}
.col-3{
	width: 30%;
}
.features{
	background-color: #ddd;
	padding: 15px 0;
	margin: 0 5px;
}
.bg{
	background-color: #ddd;
	padding: 15px 0;
	margin: 5px;

}