*{
	margin: 0 auto;
	padding: 0 auto;

}
.banner{
	height: 100px;
	width: 100%;
	background-color: #739E74;
	text-align: center;
	padding-top: 50px;

}
.characters{
	height: 500px;
	width: 25%;
	background-color: #D1CF6B;
	float: left;
}
.main{
	height: 500px;
	width: 50%;
	background-color: #7D8100;
	float: left;
}
.para{
	height: 300px;
	width: 45%;
	float: left;
}
.para p{
	padding-left: 5px;
}
.img{
	height: 300px;
	width: 45%;
	float: left;
}
.img img{
	height: 250px;
	width: 350px;
}
.districts{
	height: 500px;
	width: 25%;
	background-color: #D1CF6B;
	float: left;
}
.footer{
	height: 100px;
	width: 100%;
	background-color: #969761;
	clear: both;
	padding-top: 20px;
	text-align: center;
}
.footer{
	font-size: 30px;
}