@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700,400italic);
/**
 * @Md. Mesbaul Islam
 * @UI Developer
 * @DATE: 2016-april-12
 * @packet version - v1.0
 */

body{
	color:#fff;
	font-size:16px;
	line-height:20px;
	font-weight:400;
	text-align:center;
	background-color: #fff;
	font-family: 'Titillium Web', sans-serif;
}
/*==============================*/
/*=====   Common styles   =====*/
/*============================*/
*{outline:none}
a,a:hover,a:focus{outline: none; outline-offset: 0; text-decoration: none}
img,button,input,textarea,a{
	margin:0;
	outline:none;
	border:none;
	background:none;
}
img{max-width: 100%; vertical-align: top;}
p{margin:0}
.container{max-width: 1140px}

/*=================================*/
/*=====    Css3 Effects    =======*/
/*===============================*/
{
	-webkit-transition:all .3s;	/* Chrome, Safari, Opera */
	-ms-transition:all .3s;	/* IE 9 */
	-moz-transition:all .3s; /* Standard syntax */
	transition:all .3s;	
}

a,a:hover{
	-webkit-transition:all .5s;	/* Chrome, Safari, Opera */
	-ms-transition:all .5s;	/* IE 9 */
	-moz-transition:all .5s; /* Standard syntax */
	transition:all .5s;	
}

{
	-webkit-transition:all 1s;	/* Chrome, Safari, Opera */
	-ms-transition:all 1s;	/* IE 9 */
	-moz-transition:all 1s; /* Standard syntax */
	transition:all 1s;	
}

{
	-webkit-transition:all 2s;	/* Chrome, Safari, Opera */
	-ms-transition:all 2s;	/* IE 9 */
	-moz-transition:all 2s; /* Standard syntax */
	transition:all 2s;	
}

{
	-ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Chrome, Safari, Opera */
    -moz-transform: scale(1.1); /* Standard syntax */
    transform: scale(1.1);
}

/*=================================*/
/*=====    All headings    =======*/
/*===============================*/
h1,h2,h3,h4,h5,h6{font-family: 'Titillium Web', sans-serif; margin:0;}
h1{
	font-size:2.625em;
	line-height:49px;
	font-weight:600;

}
h2{
	padding-bottom:17px;
	font-size:2.500em;
	line-height:46px;
	font-weight:600;
}
h3{
	font-size:1.875em;
	line-height:34px;
}
h4{
	font-size:1.500em;
	line-height:30px;
	font-weight:600;
}
h5{
	font-size:1.250em;
	line-height:24px;
}
h6{
	font-size:1.125em;
	line-height:22px;
}

/*==================================*/
/*--------     header     ---------*/
/*================================*/
header{
	padding: 57px 0 145px;
	background-color: #87509c;
}
.navbar-brand {
  height: auto;
  padding: 0 15px;
}
header .navbar{margin:0; min-height:0}
header .navbar{
	margin: 0;
	padding: 3px 0 2px;
	float: right;
	list-style: none;
}
header .navbar li{
	margin: 0 5px;
	padding: 6px 17px 6px;
	float: left;
	border-radius: 3px;
}
header .navbar li:hover{background-color: #643a79}
header .navbar li.active{background-color: #643a79}
header .navbar li a{color: #fff; display:block}
header .welcome-bx{padding:136px 0 0}
header .welcome-bx h1{padding-bottom:53px}
header .welcome-bx a{
	padding:24px 82px 21px;
	color:#fff;
	font-size:0.813em;
	line-height:21px;
	font-weight:400;
	display:inline-block;
	background-color:#eb7d4b;
	border-radius:4px;
	border-bottom:4px solid #c86a40;
}


.toggle .navbar-toggle {
  border-color: #ddd;
}
.toggle .navbar-toggle .icon-bar {
  background-color: #fff;
}





/*==================================*/
/*--------     Section     --------*/
/*================================*/

section.section-service{
	padding:110px 0 124px;
	background-color:#17c2a4;
}
section.team{
	padding:111px 0 127px;
	background-color:#e7f1f8;
}
section.skills{
	padding:111px 0 115px;
	background-color:#ffffff;
}
section.portfolio{
	padding:111px 0 109px;
	background-color:#ffdd99;
}
section.aboutus{
	padding:111px 0 50px;
	background-color:#d74680;
}
section.contactus{
	padding:111px 0 115px;
	background-color:#3c5499;
}

section .section-title h2{background:url(images/shap-01.png) no-repeat bottom center}
section .section-title p{
	max-width:750px;
	margin:0 auto;
	padding-top:19px;
	font-size:1.125em;
	line-height:24px;
}
section .services .services-icons{
	width:100%;
	height:264px;
	display:table;
}
section .services .services-icons span,
section .members .member-photo span,
section .skill .skill-bar span{
	display:table-cell;
	vertical-align:middle;
}
section .services .services-icons span img,
section .members .member-photo span img,
section .skill .skill-bar span img,
section .work .workpic img{margin:0 auto}
section .services h4{padding-bottom:17px}
section .services p{
	font-size:1.000em;
	line-height:24px;
	font-weight:300;
}
section.team .section-title h2,
section.team .section-title p,
section.skills .section-title h2,
section.skills .section-title p{color:#3c4761}

section .members{padding-top:42px}
section .members .member-photo{
	width:100%;
	height:268px;
	display:table;
}
section .members .member-info h4,
section .skill h4{color:#27283d; text-transform:uppercase}
section .members .member-info span{
	padding-top:11px;
	color:#30bae7;
	font-size:1.000em;
	line-height:20px;
	font-weight:400;
	display:block;
}
section .members .member-info p{
	padding:20px 0 28px;
	color:#3c4761;
	font-weight:300;
}
section .members .member-info a{
	width:32px;
	height:32px;
	margin:0 6px;
	color:#fff;
	line-height:32px;
	display:inline-block;
	background-color:#bdd1df;
	border-radius:50px;
}
section .members .member-info a:hover{
	color:#bdd1df;
	background-color:#fff;
}
section .skill{padding-top:55px}
section .skill .skill-bar{
	width:100%;
	height:212px;
	display:table;
}
section.portfolio .section-title h2,
section.portfolio .section-title p{color:#393939}
section.portfolio .section-title p{max-width:540px}
section.portfolio .tabs{padding:40px 0 36px}
section.portfolio .tabs a{
	padding:7px 27px;
	margin:0 7px;
	color:#393939;
	font-size:1.125em;
	line-height:24px;
	display:inline-block;
	border-radius:3px;
	background-color:#ebc985;
}
section.portfolio .tabs a.active{background-color:#fff}
section.portfolio .work{margin-bottom:33px}
section.portfolio .work .workpic{padding:26px 0}
section.portfolio .work p{
	color:#393939;
	font-size:1.125em;
	line-height:24px;
	text-transform:uppercase;
}
section.portfolio a.loadmore{
	padding:24px 82px 21px;
	margin-top:45px;
	color:#fff;
	font-size:0.813em;
	line-height:21px;
	font-weight:400;
	display:inline-block;
	background-color:#17c2a4;
	border-radius:4px;
	border-bottom:4px solid #14a58c;
}
section.aboutus .section-title h2,
section.aboutus .section-title p{color:#fff}
section.aboutus .about{
	padding:66px 0 78px;
	overflow:hidden;
}
section.aboutus .about .circle{float:left}
section.aboutus .about .testimonial{
	padding-left:48px;
	float:left;
	text-align:left
}
section.aboutus .about .testimonial p{
	max-width:325px;
	padding-bottom:20px;
	font-size:1.313em;
	line-height:27px;
	font-weight:400;
	font-style:italic;
}
section.aboutus .about .testimonial span{color:#ffdd99}
section.contactus form{
	max-width:860px;
	padding-top:75px;
	margin:0 auto;
	overflow:hidden;
}
section.contactus form input[type="text"]{
	width:100%;
	padding:16px 25px 15px;
	margin-bottom:27px;
	color:#fff;
	font-size:1.125em;
	line-height:24px;
	border:none;
	border-radius:4px;
	background-color:#273a71;
}
section.contactus form textarea{
	width:100%;
	min-height:200px;
	padding:16px 25px 15px;
	margin-bottom:59px;
	color:#fff;
	font-size:1.125em;
	line-height:24px;
	border:none;
	border-radius:5px;
	resize:none;
	background-color:#273a71;
}
section.contactus form button[type="submit"]{
	padding:23px 85px 19px;
	color:#fff;
	font-size:1.125em;
	line-height:24px;
	font-weight:600;
	display:inline-block;
	text-transform:uppercase;
	background-color:#30bae7;
	border-radius:4px;
	border-bottom:4px solid #299ec5;
}
::-webkit-input-placeholder{color:#fff}
::-moz-placeholder{color:#fff}
:-ms-input-placeholder{color:#fff}
:-moz-placeholder{color:#fff}



/*==================================*/
/*--------     Footer     ---------*/
/*================================*/
footer.footer{
	padding:41px 0 41px;
	background-color:#344b8e;
}
footer.footer a{
	margin:0 28px;
	color:#ffffff;
	font-size:1.500em;
	line-height:30px;
	font-weight:600;
	display:inline-block;
}
footer.footer a.marked{color:#30bae7}
/*==================================*/
/*[ [ [ [ [   All Hover   ] ] ] ] ]*/
/*================================*/
