
* {
    margin: 0;
    padding: 0;
}
body{
	font-family: 'Open Sans', sans-serif;
	color: #959494;
	font-size: 14px;
	line-height: 1.3;
}
.container {
    margin: 0 auto;
    width: 1170px;
}
.logo {
    float: left;
}
nav {
    float: right;
}

.navigation::after {
    clear: both;
    content: "";
    display: block;
}

nav ul li.active a,
nav ul li:hover a {
    color: #e4551d;
}

nav ul li {
    display: inline-block;
    list-style: outside none none;
}

nav ul li a {
    color: #637f83;
    display: block;
    padding: 32px 25px;
    text-decoration: none;
    text-transform: uppercase;
}

/*Start Banner*/

.banner {
	background-color:  #ccc none repeat scroll 0 0;
	background-image: url(images/1.jpg);

    color: #fff;
    padding-bottom: 235px;
    padding-top: 155px;
    text-align: center;
}
.banner h1 {
    font-size: 40px;
    margin-bottom: 10px;
    text-decoration: underline;
}
.banner p {
  letter-spacing: 2px;
  text-transform: uppercase;
}

.banner {
  background-image: url("images/1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding-bottom: 235px;
  padding-top: 155px;
  text-align: center;
}



.section-title h2 {
    font-size: 34px;
}
.section-title {
  color: #637f83;
  padding: 20px 0;
  text-align: center;
}
.section-title p {
    font-size: 24px;
}

#services {
    background: #f6f6f6 none repeat scroll 0 0;
}


.service-box {
    box-sizing: border-box;
    float: left;
    padding: 60px 40px;
    text-align: center;
    width: 25%;
}
.services-box-wrap {
    overflow: hidden;
}
.service-box i.fa {
    color: #e4551d;
    font-size: 70px;
}
.service-box h3 {
    color: #637f83;
    margin-top: 5px;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin: 0 0 15px;
}
.more-btn {
    background-color: #637f83;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    padding: 8px 20px;
    text-decoration: none;
}
.service-box .more-btn {
    margin-top: 30px;
}
.service-box {
    border-right: 1px solid #d5d5d5;
}
.services-box-wrap .service-box:nth-child(4) {
    border-right: medium none navy;
}

