*{
	margin: 0 auto;
	padding: 0 auto;
}

.container{
	width: 1180px;
	height: 730px;
	background-color: gray;

}

.banner{
	height: 100px;
	width: 980px;
	background-color: green;
	border-radius: 10px;
}
.content{
	height: 600px;
	width: 100px;
	background-color: blue;
	border-radius: 10px;
	float: left;
}
.footer{
	height: 100px;
	width: 980px;
	background-color: yellow;
	border-radius: 10px;
	
}