.navbar-brand img {
	height: 60px;
}
.bg-light {
	background-color: transparent !important;
}
.sticky {
	background-color: rgba(0,0,0,0.4) !important;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
section {
	height: 100vh;
}