body{
	text-align: center;
}
header ,footer{
	background-color: gray;
	padding: 20px;
	margin: 10px;
}
main{
	margin: 10px;
}
.image-slider{
	background-color: gray;
	padding: 257px;
}
.search{
	background-color: gray;
	padding: 100px;
	width: 100%;
	margin-bottom: 5px;
	margin-right: 15px;
	margin-left: -5px;
}
.call{
	background-color: gray;
	padding: 100px;
	width: 100%;
	margin-right: 15px;
	margin-top: 5px;
	margin-left: -5px;
}
.features{
	background-color: gray;
	padding: 30px;
	margin: 5px;
	width: 100%;
}
.introcopy{
	background-color: gray;
	padding: 50px;
	margin: 5px;
	width: 100%;
}
.callaction{
	background-color: gray;
	padding: 50px;
	margin: 5px;
	width: 100%;
}