

section.section-testimonial {
    padding: 80px 0;
	margin:40px 0;
	background: rgba(241, 241, 241, 0.30);
}

.title-border span {
    display: inline-block;
    background: #6AAF08;
    height: 5px;
    width: 50px;
    margin: 0;
    border-radius: 5px;
}

span.black-border {
    width: 30px;
    background: #000;
    margin: 0px 10px;
}

.section-title {
    margin-bottom: 65px;
}

.section-title h2 {
    font-size: 35px;
    font-weight: 700;
}

.client-testimonial-carousel .owl-dots div {
    background: #6aaf08;
    display: inline-block;
    width: 20px;
    height: 5px;
    margin:5px;
    transition:0.3s;
    border-radius:5px;
}

.client-testimonial-carousel .owl-dots div.active {
    width: 30px;
    background: #000;
}

.client-testimonial-carousel .owl-dots {
    text-align: center;
    margin-top:30px;
}

.single-testimonial-item {
    box-shadow: 0 0 2px #D5DCCC;
    margin: 2px;
    padding: 20px;
	font-style:italic;
	position:relative;
	padding-left:80px;
}

.single-testimonial-item h3 {
    font-size: 20px;
	font-style:normal;
	margin-bottom:0px;
}

.single-testimonial-item h3 span {
    display:block;
	font-size:14px;
	font-weight:normal;
	margin-top:8px;
}

.single-testimonial-item:before{
	font-family:fontAwesome;
	content: "\f10e";
	color:#6aaf08;
	font-size:20px;
	position:absolute;
	top:50%;
	left:20px;
	line-height:30px;
	margin-top:-15px;
}


.single-testimonial-item:after{
	content: "";
	background:#ddd;
	position:absolute;
	top:15%;
	left: 60px;
	width: 1px;
	height: 70%;
}