*{
	margin:0 auto;
	padding:0;
	box-sizing: border-box;
}

.container{
	width: 1160px;
}

	/*header*/

header{
	width: 100%;
	height: 90px;
	background-color:#fff;
	padding: 20px 0;
}

#logo{
	float: left;
	width: 60px;
	height: 60px;
}

nav{
	float: right;
}

nav ul li{
	list-style-type: none;
	display: inline-block;
	padding-top: 20px;
}

nav ul li a{
	text-decoration: none;
	font-size: 20px;
	color:#000;
	padding-left:20px;
}

nav ul li a:hover{
	color:#E4551D
}

	/*banner*/

#Banner{
	background-image: url(../img/banner.jpg);
	padding:172px;
	text-align: center;
}
.center h1 {
	color: #fff;
	line-height:12px; 
}

.center p{
	color: #fff;
	line-height:15px; 
}

	/*Service*/



.heading{
	text-align: center;
	padding:20px 0;
	color:#637F83 ;
	clear: both;
}
.heading h1{
	line-height: 0;
}

.heading p{
	font-size: 20px;
}
.icon1{
	width: 20%;
	float: left;
	border-left: 1px solid #E5E5E5;
	padding:0 30px;
}

.icon1:first-child{
	border: none;
}

.bg-color{
	height:350px;
	overflow: hidden;
	background-color: #F6F6F6;
	padding-left:150px;

}

.icon1 figure{
	color:#E4551D;
	font-size: 70px;
	margin-bottom:20px;
}

.icon1 figcaption{
	text-align: center;
	color: #637F83;

}

.icon1 figcaption p{
	padding-top:8px;
	margin-bottom: 20px;
}

.icon1 figcaption a{
	text-decoration: none;
	background-color: #637F83;
	color: #fff;
	padding: 5px 17px;
}

 .img1{
	clear: both;
	text-align: center;
	line-height:0px;
	padding-top: 30px;
	color: #637F83;	
}

.img1 p{
	padding-top:5px;
}

.galary img{
	padding-left: 15px;
	padding-top:40px;
}

.btn{
	text-align: center;
	background-color:#E4551D;
	padding: 5px 3px;
	width: 120px;
	padding:5px 0; 
	margin-top: 15px;
}
.btn a{
	text-decoration: none;
	color: #fff;
	background-color: #E4551D;
	
}

#portfolio{
	overflow: hidden;
	text-align: center;
}

.img-blog1{
	
	clear: both;
	width: 40%;
	float: left;
}

.img-blog2{
	width: 40%;
	margin-left: 20px;
	float: right;
	clear: both;
}

.img-blog1 figcaption{
	float: left;
	
}


