body{
	background-color:#7FF231;
	
}
.main{
	margin:30px;
	border:2px solid #fff;
	padding-bottom:30px;
}
.rango{
	margin:32px 32px 10px 32px;
	border:2px solid #fff;
}
h2{
	font-size:60px;
	color:#4A318A;
	font-weight:bold;
	margin-left:10px;
}
.login{
	margin:30px;
	border:2px solid #fff;
	padding:10px;
	font-size:36px;
}
label{
	color:#0043EB;
}
.blue{
	color:#4A318A
}
span{
	color:#fff;
}
.search{
	margin:15px 30px 15px 30px;
	border:2px solid #fff;
	padding:10px;
	font-size:36px;
	
}
.home{
	margin:15px 30px 15px 30px;
	border:2px solid #fff;
	padding:10px;
	font-size:36px;
	color:#fff;
}
li span{
	color:#0043EB;
}
.stmt{
	margin:15px 30px 15px 30px;
	border:2px solid #fff;
	padding:10px;
}
p{
	font-size:36px;
	font-weight:bold;
	margin-bottom:0px;
}
p span{
	color:#fff;
}
img{
	margin-bottom:10px;
}
.blank-div{
	margin:15px 30px 15px 30px;
	border:2px solid #fff;
	min-height:30px;
}
