body {
	font-size: 14px;
	font-family: 'Ubuntu', sans-serif;
	font-family: 'Playfair Display', serif;
	/*        background: linear-gradient(to left, rgba(255, 255, 255, 0.5) , rgba(64, 255, 96, 0.5));*/
}

.border-bottom{
    border-bottom: 2px solid #67C9F0;
    width: 170px;
    margin: 0 auto;
    border-radius: 5px;
}

.gallery div.border-bottom {
    width: 200px;
}

h3 {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
}

h2,
h3 {
	color: #67C9F0;
}


/*Body & Menu Style*/


/* Nav */

.menu-outer:hover ~ .menu-close {
	margin-right: -100px;
}

.menu-outer:hover .bar {
	background: rgba(100, 200, 240, .9);
}

.menu-outer > nav ul {
	top: 15%;
}

.menu-outer {
	overflow: hidden;
	position: fixed;
	top: 0;
	font-family: 'Montserrat', serif;
	font-size: 25px;
	z-index: 998;
	width: 100%;
	left: 100%;
	margin-left: -100px;
	height: 100vh;
	background: rgba(100, 200, 240, .9);
	-webkit-transition: all ease .5s;
	-moz-transition: all ease .5s;
	-ms-transition: all ease .5s;
	-o-transition: all ease .5s;
	transition: all ease .5s;
	-webkit-transform-origin: top left;
	-moz-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	transform-origin: top left;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.menu-outer:hover {
	background: rgba(100, 200, 240, .98);
	left: 0;
	margin-left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
}

.menu-icon {
	z-index: 999;
	position: absolute;
	top: 58px;
	left: 15px;
	width: 30px;
	pointer-events: none;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transition: all ease .5s;
	-moz-transition: all ease .5s;
	-ms-transition: all ease .5s;
	-o-transition: all ease .5s;
	transition: all ease .5s;
}

.menu-icon .bar {
	background: rgba(250, 250, 250, 1);
	width: 100%;
	height: 5px;
	margin: 0 0 5px;
	-webkit-transition: all ease .5s;
	-moz-transition: all ease .5s;
	-ms-transition: all ease .5s;
	-o-transition: all ease .5s;
	transition: all ease .5s;
}

.menu-outer:hover > .menu-icon {
	opacity: 0;
}

nav ul {
	position: absolute;
	/*    width:100%;*/
	padding: 0;
	right: 10%;
	;
	/*prevents possible click when not oppened*/
	-webkit-transition: all ease .3s;
	-moz-transition: all ease .3s;
	-ms-transition: all ease .3s;
	-o-transition: all ease .3s;
	transition: all ease .3s;
}

.menu-outer:hover > nav ul {
	left: 0;
}

nav li {
	list-style: none;
	text-align: center;
	text-transform: uppercase;
}

nav li a {
	font-size: 18px;
	color: rgba(255, 255, 255, .8);
	text-decoration: none;
	margin: 0 auto;
	padding: 20px;
	display: block;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

nav li a:hover {
	color: black;
	text-decoration: none;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

@media screen and (max-width: 600px),
screen and (max-height: 600px) {
	nav ul {
		font-size: .75em;
	}
	nav ul a {
		padding: 10px;
	}
}

.menu-close {
	z-index: 9999;
	position: fixed;
	top: 0;
	right: 100%;
	width: 200px;
	height: 200px;
	background: red;
	cursor: pointer;
	-webkit-transition: all ease .5s;
	-moz-transition: all ease .5s;
	-ms-transition: all ease .5s;
	-o-transition: all ease .5s;
	transition: all ease .5s;
	-webkit-transform-origin: top right;
	-moz-transform-origin: top right;
	-ms-transform-origin: top right;
	-o-transform-origin: top right;
	transform-origin: top right;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.menu-close .menu-icon {
	right: 15px;
	left: auto;
	top: 68px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.menu-close .bar {
	background: rgba(250, 250, 250, 1);
	width: 100%;
	height: 5px;
	position: absolute;
	-webkit-transform-origin: center;
	-moz-transform-origin: center;
	-ms-transform-origin: center;
	-o-transform-origin: center;
	transform-origin: center;
}

.menu-close .bar:first-child {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.menu-close .bar:last-child {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
}


/* Nav End */


/* Introduction */

div#Introduction {
	padding: 80px 0px;
	height:100vh;
}

span.Myimage img {
	width: 80%;
	border-radius: 50%;
	display: block;
	margin: 0 auto;
}

a.button {
	display: inline-block;
	padding: 8px 10px;
	background: rgba(0, 182, 255, 0.99);
	margin-top: 20px;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	text-transform: capitalize;
	border-radius: 10px;
	text-decoration: none;
	outline: none;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

a.button:hover {
	background: black;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

p {
	font-size: 16px;
	font-weight: normal;
	letter-spacing: 0.7px;
	    padding-top: 15px;
}

div#Introduction p {
	text-align: justify;
	margin-top: 20px;
	padding-right: 30px;
}

div#Introduction div.col-md-4 h3 {
	text-align: center;
	padding-top: 40px;
}

div#Introduction div.col-md-4 {
	padding-top: 30px;
}


/* End Introduction*/


/* Navigation */

#nav {
	z-index: 9999;
}

#nav.affix {
	position: fixed;
	top: 0;
	width: 100%
}

.navbar-custom {
	margin-bottom: 0;
	background-color: #121d1f;
	border-radius: 0px;
	padding: 10px 0;
}

.navbar-custom .navbar-brand {
	font-weight: 600;
}

.navbar-custom .navbar-brand:focus {
	outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
	padding: 4px 6px;
	font-size: 16px;
	color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
	outline: 0;
}

.navbar-custom a {
	color: #f4f5f6;
}

.navbar-custom .nav li a {
	text-transform: uppercase;
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
	outline: 0;
	color: #7bc3d1;
	background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
	outline: 0;
	background-color: transparent;
	color: #7bc3d1;
}

.navbar-custom .nav li.active {
	outline: 0;
}

.navbar-custom .nav li.active a {
	background-color: rgba(255, 255, 255, .3);
}

.navbar-custom .nav li.active a:hover {
	color: #fff;
}

.btn-default {
	color: #fff;
	background-color: transparent;
	border-color: #fff;
	padding: 10px 20px;
	margin: 0;
	font-size: 16px;
	border-radius: 0;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active {
	color: #fff;
	background-color: #121d1f;
	border-color: #03A9F4;
}

.btn-primary {
	color: #fff;
	background-color: #121d1f;
	padding: 10px 20px;
	border-color: #121d1f;
	border-radius: 0;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
	color: #fff;
	background-color: #7bc3d1;
	border-color: #7bc3d1;
}

.btn-primary i.fa {
	margin-right: 10px;
}

.sticyMenu {
	position: fixed;
	top: 0;
	left: 0px;
	right: 0px;
	width: 100%;
	margin: 0 auto;
	background: rgba(255, 255, 255, 0.38);
	color: #fff;
	/*	font-size: 20px;*/
}


/*End Navigation */


/*End Body & Menu Style*/


/*About*/

div#About div.col-md-5 {
	width: 45%;
}

div#About div.col-md-7 {
	width: 50%;
	padding-left: 0px;
}

div#About div.col-md-5 div.image {
	overflow: hidden;
	margin-top: 10px;
}

div#About h2 {
	text-align: center;
	margin-bottom: 30px;
	font-size: 50px;
	position: relative;
	padding-bottom: 10px;
}

div#About h2::after {
	position: absolute;
	content: '';
	border: 3px dashed #ddd;
	bottom: 0;
	right: 50%;
	margin-right: -70px;
	width: 140px;
}

div#About div.col-md-5 div.image img {
	height: 320px;
	padding: 0px 30px 30px;
}

div#About div.col-md-7 h1 {
	margin-top: 0px;
}

div#About h3 {
	margin-top: 0px;
	font-size: 20px;
	font-weight: 700;
	font-family: 'Ubuntu', sans-serif;
}


/*End About*/

h1 {
	color: #67C9F0;
}


/*Gallary Style*/

.gallery {
    padding-bottom: 20px;
}

.gallery-title {
    font-size: 36px;
    color: #67C9F0;
    text-align: center;
    font-weight: 500;
	text-transform:uppercase;
}

.filter-button {
	font-size: 18px;
	border: 1px solid #67C9F0;
	border-radius: 5px;
	text-align: center;
	color: #67C9F0;
	margin-bottom: 30px;
}

.filter-button:hover {
	font-size: 18px;
	border: 1px solid #42B32F;
	border-radius: 5px;
	text-align: center;
	color: #ffffff;
	background-color: #42B32F;
}

.filter-button.active {
	background-color: rgba(3, 169, 244, 0.54);
	color: white;
}

button.btn.btn-default.filter-button.active:hover {
	background: #42B32F;
	color: #fff;
}

.port-image {
	width: 100%;
}

.gallery_product {
	margin-bottom: 30px;
}


/*End Gallary Style*/


/*Start Contact Style*/


/*Contact sectiom*/



textarea {
	resize: none;
}
.form-label {
	font-size: 12px;
	color: #5e9bfc;
	margin: 0;
	display: block;
	opacity: 1;
	-webkit-transition: .333s ease top, .333s ease opacity;
	transition: .333s ease top, .333s ease opacity;
}
.form-control {
	border-radius: 0;
	border-color: #ccc;
   	border-width: 0 0 2px 0;
   	border-style: none none solid none;
   	box-shadow: none;
}
.form-control:focus {
	box-shadow: none;
	border-color: #5e9bfc;
}
.js-hide-label {
	opacity: 0; 	
}
.js-unhighlight-label {
	color: #999 
}
.btn-start-order {
	background: 0 0 #ffffff;
    border: 1px solid #2f323a;
    border-radius: 3px;
    color: #2f323a;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: inherit;
    margin: 30px 0;
    padding: 10px 50px;
    text-transform: uppercase;
    transition: all 0.25s ease 0s;
}
.btn-start-order:hover,.btn-start-order:active, .btn-start-order:focus {
	border-color: #5e9bfc;
	color: #5e9bfc;
}


iframe {
    width: 100%;
    height: 330px;
}

section#contact h2 {
    padding-bottom: 35px;
}

/*End Contact Style*/


/******************** Our Service section ***********************/

#Service {
	padding: 50px 0px;
}

.heading {
	padding: 0px 100px 40px;
}

.heading h1 {
	text-transform: uppercase;
}


/*
.service-heading p,
.service-box-content p{
    font-size: 16px;
    color: #000;
    letter-spacing: 1px;
}
*/

.image-overlay {
	background:rgba(4, 255, 0, 0);
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
}

.image-overlay h1 {
	text-align: center;
	transform: translateY(-50%);
	position: absolute;
	top: 50%;
	display: block;
	left: 50%;
	margin-left: -50%;
	color: rgba(255, 255, 255, 0);
	text-transform: uppercase;
	padding: 60px;
	-webkit-transition: all 1.5s linear;
	-moz-transition: all 1.5s linear;
	-ms-transition: all 1.5s linear;
	-o-transition: all 1.5s linear;
	transition: all 1.5s linear;
}

.service-image-one img {
	border-radius: 5px 5px 0px 0px;
	max-width: 100%;
}

.service-image-one {
	position: relative;
}

.single-service-box {
	border: 2px solid #ddd;
	border-radius: 5px;
	-webkit-transition: all 1s linear;
	-moz-transition: all 1s linear;
	-ms-transition: all 1s linear;
	-o-transition: all 1s linear;
	transition: all 1s linear;
}

.single-service-box:hover .service-image-one .image-overlay {
	background:rgba(4, 255, 0, 0.5);;
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
}

.single-service-box:hover .service-image-one .image-overlay h1 {
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
	transition-delay: 0.2s;
	color: rgba(255, 255, 255, 1);
}

.single-service-box:hover {
	border: 2px solid rgba(0, 255, 107, 0.72);
	transform: scale(1.20);
	-webkit-transform: scale(1.04);
	-moz-transform: scale(1.04);
	transform: scale(1.04);
	box-shadow: 0px 0px 15px rgba(0, 255, 102, 0.75);
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
}

.service-box-content {
	padding: 20px 15px;
}


/**************** OUR TEAM *************/

#our-team {
	overflow: hidden;
	padding: 50px 0;
}

section#our-team h2 {
	margin-bottom: 45px;
}

.member-1 {
	background-image: url('../images/Mashud-final-edit.jpg');
}

.member-2 {
	background-image: url('../images/rahid-final.jpg');
}

.member-3 {
	background-image: url('../images/rahim-final.jpg');
}

.single-member-image {
	height: 280px;
	max-width: 280px;
	background-position: top center;
	background-size: cover;
	border-radius: 50%;
	margin: 0 auto;
}

.social-links {
	position: absolute;
	top: 20px;
	left: 55px;
	width: 280px;
	height: 280px;
	background: rgba(8, 193, 13, 0.3);
	border-radius: 50%;
	opacity: 0;
	-webkit-transition: all 1s linear;
	;
	-moz-transition: all 1s linear;
	;
	-ms-transition: all 1s linear;
	;
	-o-transition: all 1s linear;
	;
	transition: all 1s linear;
	;
}

.social-links ul {
    margin-top: 40%;
    margin-left: -15%;
}

.social-links ul li {
	display: inline-block;
	margin: 15px;
}

.social-links ul li a {
	color: #fff;
	font-size: 25px;
	padding: 10px;
}

.single-member:hover .social-links {
	opacity: 1;
}

.single-member:hover {
    border: 2px solid rgba(43, 234, 25, 0.3);
    box-shadow: 0px 0px 15px rgba(25, 204, 64, 0.79);
}

.single-member {
	background: rgba(255, 255, 255, 0.5);
	padding: 20px;
	border-radius: 5px;
	border: 2px solid #ddd;
	transition: all 1s linear;
}

.member-details {
	padding-top: 20px;
	border-top: 2px solid #ddd;
	margin-top: 30px;
}


/************* End OUR TEAM *************/


/*Start skills*/

.skills {
/*
	float: left;
	clear: right;
		width: 100%;
	margin: 20px 0px 30px 30px;
*/
}

.skills div.row {
    padding-top: 20px;
}

.skillsTop {
	float: left;
	clear: right;
	width: 100%;
	margin: 5px;
	text-align: left;
	font-weight: 600;
	font-family: sans-serif;
	font-weight: 200;
}

.skillsBottom {
	float: left;
	clear: right;
	width: 100%;
	margin: 2px 0px 0px 0px;
}

.progress {
	background: #e9e5e2;
	height: 25px;
	-moz-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;
	-webkit-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;
	box-shadow: 0 1px 0px #bbbbbb inset, 0 1px 0 #fcfcfc;
}

.progress-bar {
	background-image: -webkit-linear-gradient(to right, #4444ff 0%, rgb(255, 0, 0) 100%);
	background-image: -moz-linear-gradient(to right, #4444ff 0%, rgb(255, 0, 0) 100%);
	background-image: -o-linear-gradient(to right, #4444ff 0%, rgb(255, 0, 0) 100%);
	background-image: linear-gradient(to right, #4444ff 0%, rgb(255, 0, 0) 100%);
	height: 100%;
	width: 0%;
}

.adobe,
.html,
.css,
.jquery,
.javascript,
.bootstrap,
.wordpress,
.ui,
.ux,
.rwd,
.mobile,
.rapidproto {
	-webkit-transition: width 4.50s ease !important;
	-moz-transition: width 4.50s ease !important;
	-o-transition: width 4.50s ease !important;
	transition: width 4.50s ease !important;
}


/*End skills*/


/*******************Start Testimonial**********************/

.section-title div.border-bottom {
    width: 190px;
}

section.section-testimonial {
	padding: 80px 0;
	margin: 40px 0;
	background: rgba(241, 241, 241, 0.30);
}

.title-border span {
	display: inline-block;
	background: #6AAF08;
	height: 5px;
	width: 50px;
	margin: 0;
	border-radius: 5px;
}

span.black-border {
	width: 30px;
	background: #000;
	margin: 0px 10px;
}

.section-title {
	margin-bottom: 65px;
}

.section-title h2 {
	font-size: 35px;
	font-weight: 700;
}

.client-testimonial-carousel .owl-dots div {
	background: #6aaf08;
	display: inline-block;
	width: 20px;
	height: 5px;
	margin: 5px;
	transition: 0.3s;
	border-radius: 5px;
}

.client-testimonial-carousel .owl-dots div.active {
	width: 30px;
	background: #000;
}

.client-testimonial-carousel .owl-dots {
	text-align: center;
	margin-top: 30px;
}

.single-testimonial-item {
	box-shadow: 0 0 2px #D5DCCC;
	margin: 2px;
	padding: 20px;
	font-style: italic;
	position: relative;
	padding-left: 80px;
}

.single-testimonial-item h3 {
	font-size: 20px;
	font-style: normal;
	margin-bottom: 0px;
}

.single-testimonial-item h3 span {
	display: block;
	font-size: 14px;
	font-weight: normal;
	margin-top: 8px;
}

.single-testimonial-item:before {
	font-family: fontAwesome;
	content: "\f10e";
	color: #6aaf08;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 20px;
	line-height: 30px;
	margin-top: -15px;
}

.single-testimonial-item:after {
	content: "";
	background: #ddd;
	position: absolute;
	top: 15%;
	left: 60px;
	width: 1px;
	height: 70%;
}


/******************** End Testimonial *********************/


/* Back to top */

.back-to-top {
	visibility: hidden;
	background-color: #444;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 48px;
	position: fixed;
	bottom: 65px;
	right: 35px;
	z-index: 90;
	cursor: pointer;
	border-radius: 1px;
	opacity: 0;
	-webkit-transform: translateZ(0);
	transition: all .6s
}

.back-to-top .fa {
	font-size: 18px;
	color: #fff;
	vertical-align: middle;
}

.back-to-top:hover {
	background-color: #fc4f3f;
	opacity: 1
}

.back-to-top.show {
	visibility: visible;
	bottom: 35px;
	opacity: 1;
}


/*******************Foooter **********************/

#Footer {
    line-height: 50px;
    height: 90px;
    background: #000;
    color: #fff;
}

#Footer p {
margin: 0px;
    padding: 20px 20px;
    line-height: 50px;
    font-weight: bold;
    color: #fff;
    font-size: 20px;
}

#Footer p a {
    text-decoration: none;
}

.my-name{
	font-size:25px;
	color:green;
	text-decoration: none;
}



#Footer p a:hover {color: #67C9F0;}


/******************* End Foooter **********************/

