body{
	text-align: center;
}
header , footer{
	background-color: #ddd;
	padding: 10px 0;
	
}
main{
	background-color: yellow;

}
.row{
	display: flex;

}
.col-6{
	width: 60%;
	padding: 100px 0;
	margin: 5px;
	background-color: #ddd;
}
.col-4{
	width: 40%;

}
.search{
	padding: 10px 0;
	margin: 5px 5px 0 5px;
	background-color: #ddd;
}
.call{
	padding: 80px 0;
	margin: 5px;
	background-color: #ddd;
	
}
.col-3{
	width: 30%;
	padding: 100px 0;
	margin: 10px 0 10px 10px;
	background-color: #ddd;
}

.col-7{
	width: 70%;
	margin: 5px;	
}
.thumbnail{
	width: 25%;
	padding: 100px 0;
	margin: 5px;
	background-color: #ddd;
}
.sub-header1{
	width: 50%;
	padding: 50px 0;
	margin: 5px;
	background-color: #ddd;
}
