*{
	margin:0 auto;
	padding: 0;
	box-sizing: border-box;
}

.container{
	width: 1160px;
}


			/*header*/
header{
	height: 70px;
	width: 100%;
	background-color: #FFFFFF;
	padding: 20px 0;


}
.logo{
	float: left;

	margin-bottom: 10px;
}
nav{
	float: right;
}

nav ul li{
	list-style-type: none;
	display: inline-block;
	

}
nav ul li a {
	text-decoration: none;
	display: block;
	padding: 15px;
	font-size: 18px;
	color: #000;
}

nav ul li a:hover {
	text-decoration: none;
	display: block;
	padding: 15px;
	font-size: 18px;
	color: #E4551D;
}

      /*banner*/

 .banner{
 	background-image: url(../img/banner.jpg);
 	padding: 172px;
 	text-align: center;
 	margin-top: 20px;
 } 
 .banner h1,.banner p{
 	color: #fff;
 	line-height: 12px;

 }
 .banner p{
 	line-height: 15px;
 }

     /*section2*/

 
.sec2{
	text-align: center;
	color: #637F83;
}
.sec2 h1{
	padding-top: 15px;
	line-height: 0;
}
.sec2 h3{
	padding-bottom: 15px;
}

.sec2 .icon1 {
	width: 20%;
	float: left;
	border-left: 1px solid #E5E5E5;
	padding: 25px;
}

.sec2 .iconss{
	margin-top: 20px;
	background-color: #F6F6F6;
	margin: auto;
	overflow: hidden;
	padding: 15px 0;

}

.iconss .icon1 .fa{
	font-size: 70px;
		color: #E4551D;
		margin-bottom: 15px;
		
}
.iconss .icon1 .fa:hover{
	font-size: 70px;
		color: #FEAD51;
		margin-bottom: 15px;
		
}

.iconss .icon1:first-child {
	border: none;
	margin-left: 104px;
}
.iconss .icon1 a {
	text-decoration: none;
	padding: 5px 17px;
	background-color: #637F83;
	color: #fff;
}

.iconss .icon1 a:hover {
	text-decoration: none;
	padding: 5px 17px;
	background-color: #D44026;
	color: #fff;
}
.iconss .icon1 p{
	margin-bottom: 20px;
}


    /*section3*/
    .sec3{
    	clear: both;
    	text-align: center;
    
    }
 .sec3 .galary img {
	margin-left: 15px;
}

 .sec3 .galary {
	margin-bottom: 30px;
}
.sec3 .btn a{
	text-decoration: none;
	color: #fff;
	background-color: #E4551D;
	padding: 5px;
}
.sec3 .btn a:hover{
	text-decoration: none;
	color: #fff;
	background-color: #579DA7;
	padding: 5px;
}

.sec3 .h1 h1{
	line-height: 0;
	margin-top: 15px;
	color: #637F83;
}
.sec3 .h1 h3{
	
	color: #637F83;
}
.h1 {
	border-bottom: 1px solid #DEDEDE;
	margin-top: 35px;
	margin-bottom: 35px;
	padding: 17px;
}


.div1 {
	float: left;
	width: 45%;
	margin-top: 40px;
	margin-bottom: 30px;
}
.div11{
	margin-left: 70px;
}

.div1 .btnn img {
	float: left;
	margin-right: 19px;
}
.div1 .btnn{
	text-align: left;
	color: #B6C1C3;
}
.div1 .btnn figcaption h3{
	color: #6A8488;
}




     /*section4*/

.sec4{
	clear: both;
	background-color: #637F83;
	padding-top: 15px;
	padding-bottom: 28px;
	text-align: center;
	color: #fff;
	line-height: 12px;

	
	
} 
.sec4 .heading2{
	border-bottom: 1px solid  #637F83;
}


    /*section5*/


    .sec5{
    	padding: 20px;
    	background-color: #fffff;
    }

    .sec5 form {
	text-align: center;
	margin-right: 155px;
	padding-top: 10px;
	padding-bottom: 5px;
}

input[type="text"],input[type="submit"]{
	background-color: #597275;
	color: #fffff;
	border-radius: 5px;
	padding: 10px 15px;
}
input[type="text"] {
	padding: 10px 82px;
}
  


  /*section6*/

.sec6 {
	background-color: #637F83;
	overflow: hidden;
	padding: 47px;
}
.sec6 .icons{
	overflow: hidden;
	position: relative;
}
  .sec6 .icons .icon5{
  	float: left;
  	width: 33%;

  }
   .sec6 .icons .para {
   	clear: both;
   
   
   }
  .sec6 .icons .icon5 .fa {
	float: left;
	padding: 20px;
	background-color: #E4551D;
	color: #fff;
	border-radius: 50px;
	margin-right: 17px;
}
.sec6 .icons .icon5 .fa:hover {
	float: left;
	padding: 20px;
	background-color: #07427D;
	color: #fff;
	border-radius: 50px;
	margin-right: 17px;
}
.sec6 .icons .icon5 p {
	
	margin-top: 30px;
	
}
.sec6 .icons .para{
	overflow: hidden;
	text-align: center;
	clear: both;
}