body{
	text-align: center;
}
header ,footer{
	background-color: gray;
	padding: 20px;
	margin: 10px;
}
main{
	margin: 10px;
}
.image-slider{
	background-color: gray;
	padding: 240px;
}
.search{
	background-color: gray;
	padding: 37px;
	width: 100%;
	margin-right: 15px;
	margin-left: -5px;
}
.call{
	background-color: gray;
	padding: 170px;
	width: 100%;
	margin-right: 15px;
	margin-top: 10px;
	margin-left: -5px;
}
.image{
	height: 550px;
	background-color: #cccccc;
	margin-top: 10px;
	padding: 15px;
}
.box{
	height: 520px;
	background-color: gray;
	padding-top: 212px;
}
.sub{
	background-color: gray;
	padding: 50px;
	margin-top: 20px;
	margin-left: -20px;
}
.item{
	background-color: gray;
	padding-top: 163px;
	margin-top: 10px;
	margin-left: -20px;
	margin-bottom: -10px;
	height: 384px;
}
